@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url("../fonts/Roboto/Roboto-Regular.ttf") format('ttf');
}

@font-face {
    font-family: Roboto;
    font-style: italic;
    font-weight: 400;
    src: local(''),
    url("../fonts/Roboto/Roboto-Italic.ttf") format('ttf');
}

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    src: local(''),
    url("../fonts/Roboto/Roboto-Medium.ttf") format('ttf');
}

@font-face {
    font-family: Roboto;
    font-style: italic;
    font-weight: 500;
    src: local(''),
    url("../fonts/Roboto/Roboto-MediumItalic.ttf") format('ttf');
}
