/* style.css */
@import "main.css";

/* Estilo para o cabeçalho */
header {
    background-color: #333;
    color: #fff;
}

.navbar {
    height: 100%;
}

.navbar .container {
    margin-left: 5px;
}

.logout-icon {
    cursor:pointer;
    padding: 10px;
    font-size: 1.2rem;
}

.logout-icon:hover {
    color: #bb2d3b;
    transition: 200ms;
}

#home-logo {
    width: 50px;
}
