@import "main.css";

.sidebar nav {
    height: 100%;
    width: 200px;
    background-color: #3f3f3f;
    color: #fff;
    padding: 5px;
    z-index: 1;
}

.sidebar ul.nav {
    list-style: none;
    padding: 0;
}

.sidebar ul.nav li {
    margin-bottom: 10px;
}

.sidebar ul.nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.2s;
}

.sidebar ul.nav a:hover {
    color: #9bbde1; /* Cor do link ao passar o mouse, pode ser personalizada */
}

.legend {
    font-size:0.7rem;
    color:grey;
}